<div>
    <main>
        <header>
            <h1>Employee and Wages management system</h1>
            <h3>By Moti Goldstain</h3>
            <p>(Default User: "user" and "password")</p>
        </header>
        <form>
            <input name="user" type="text" placeholder="User"  [(ngModel)]="user"><br />
            <input name="pass" type="password" placeholder="Password"  [(ngModel)]="pass"><br />
            <input type="button" value="Login" (click)="login()">
        </form>
    </main>
</div>